.user {
    background-color: #d9d9e3;
    border-radius: 5px;
    padding: 5px;

}

.robot {
    background-color: #D58777;
    border-radius: 5px;
    padding: 5px;
}

code {
    display: inline;
    white-space: break-spaces;
    border-radius: 6px;
    margin: 0 2px 0 2px;
    padding: .2em .4em .1em .4em;
    background-color: rgba(175, 184, 193, 0.2);
}

pre {
    display: block;
    white-space: pre;
    background-color: hsla(0, 0%, 0%, 72%);
    border: solid 5px var(--color-border-primary) !important;
    border-radius: 8px;
    padding: 0 1.2rem 1.2rem;
    margin-top: 1em !important;
    color: #FFF;
    box-shadow: inset 0px 8px 16px hsla(0, 0%, 0%, .2)
}

pre code,
pre code code {
    font-family: Cascadia Code, monospace, '宋体';
    background-color: transparent !important;
    margin: 0;
    padding: 0;
}

p {
    display: none;
}

QTextBrowser p {
    color: red;
    font-size: 16px;
}

QTextBrowser div {
    display: inline-block
}